* {
    font-family:
}


.wave {
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  #dash {
    visibility: hidden;
  }

  .wave span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.1s * var(--name))
  }
  
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

  body {
    background-color: pink;
    }
    
    
.background {
        background-image: url('assets/images/5236199.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        background-position: center center;
        background-attachment: fixed;
        background-color: pink;
      }

      .title-word {
        animation: color-animation 4s linear infinite;
      }
      
      .title-word-1 {
        --color-1: #DF8453;
        --color-2: #3D8DAE;
        --color-3: #E4A9A8;
      }
      
      .title-word-2 {
        --color-1: #DBAD4A;
        --color-2: #ACCFCB;
        --color-3: #17494D;
      }
      
      .title-word-3 {
        --color-1: #ACCFCB;
        --color-2: #E4A9A8;
        --color-3: #ACCFCB;
      }
      
      .title-word-4 {
        --color-1: #3D8DAE;
        --color-2: #DF8453;
        --color-3: #E4A9A8;
      }
      
      @keyframes color-animation {
        0%    {color: var(--color-1)}
        32%   {color: var(--color-1)}
        33%   {color: var(--color-2)}
        65%   {color: var(--color-2)}
        66%   {color: var(--color-3)}
        99%   {color: var(--color-3)}
        100%  {color: var(--color-1)}
      }
      
      /* Here are just some visual styles. 🖌 */
      
      .container {
        display: grid;
        place-items: center;  
        text-align: center;
        height: 23vh
      }
      
      .title {
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        font-size: 8.5vw;
        text-transform: uppercase;
      }
      /* CSS */
      .button-56 {
        align-items: center;
        background-color: #fee6e3;
        border: 2px solid #111;
        border-radius: 8px;
        box-sizing: border-box;
        color: #111;
        cursor: pointer;
        display: flex;
        font-family: Inter,sans-serif;
        font-size: 16px;
        height: 48px;
        justify-content: center;
        line-height: 24px;
        max-width: 100%;
        padding: 0 25px;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }
      
      .button-56:after {
        background-color: #111;
        border-radius: 8px;
        content: "";
        display: block;
        height: 48px;
        left: 0;
        width: 100%;
        position: absolute;
        top: -2px;
        transform: translate(8px, 8px);
        transition: transform .2s ease-out;
        z-index: -1;
      }
      
      .button-56:hover:after {
        transform: translate(0, 0);
      }
      
      .button-56:active {
        background-color: #ffdeda;
        outline: 0;
      }
      
      .button-56:hover {
        outline: 0;
      }
      
      @media (min-width: 768px) {
        .button-56 {
          padding: 0 40px;
        }
      }